.grid {
  width: 606px;
  height: 606px;
  display: flex;
  flex-wrap: wrap;
  background-color: blueviolet;
}

.square {
  height: 200px;
  width: 200px;
  border: solid black 1px;
  border-radius: 10px;
}
.mole {
  background-image: url('mole.jpg');
  background-size: cover;
}
